[package]
name = "peakrdl-rust-test"
description = "Test case for PeakRDL-rust"
version = "0.1.0"
edition = "2024"

[dependencies]
peakrdl-rust = { path = "../../../crates/peakrdl-rust", features = ["fixedpoint"] }
